/* 태그 셀렉터 각각 태그 이름 걸어둠 */
div {
    background-color: red;
}

body {
    background-color: green;
}

p {
    color: blue
}

/* 클래스 셀렉터 selector 클래스는 '.'이다 */

.red-text {
    color: goldenrod;
}

.yellow-text {
    color: blueviolet;
}

.big-size {
    font-size: x-large;
}

/* id 셀렉터 # 표시를 해줌 */

#div1 {
    background-color: aqua;
}

/* *{} 부분은 모든 내용을 공통으로 사용 */

/* h1, h2, p 각각 속성 정할 때 사용 */

.border {
    border-style: dashed;
    border-width: 1px;
}

p.border {
    border-style: solid;
    border-width: 1px;
}

span.span {
    border-style: dotted;
    background-color: white;
    color: red;
}